{% extends 'hw_app/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>{{ head }}</h2>
    <div>
    {% for product in products %}
        <div class="row">
            &ensp; &ensp; &ensp; <img src="{{ product.image.url }}" width="200px" alt="">
            <div>
                &ensp; Дата добавления: {{ product.add_day|date:"d.m.Y" }} &ensp; {{ product.add_day|time:"H:i" }}<br>
                &ensp; Товар: {{ product.name }}&ensp; &ensp; &ensp;<b>{{ product.price }}</b><br>
                &ensp; В наличии осталось: {{ product.count }}<br>

            </div>
        </div>
        &ensp; Описание: <br>&ensp; {{ product.content }}<br>
    <br>
    {% endfor %}
    </div>
{% endblock %}
